* {
	box-sizing: border-box;
}

body {
    margin: 10%;
    padding: 10px;
    background: url('wall.jpg');
    background-size: cover;
}

.contact_form {
    background-color: #ffffff;
    border-radius: 10px;
}

img {
    float: right;
}


