* {
	box-sizing: border-box;
}

body {
    margin: 0%;
}

/*======= pendulum ======*/
div:nth-child(odd) {
  top:0; bottom:0; right:0; left:0;
  position:absolute;
  height: 350px;
  width: 0px;
  background:  brown;
  animation: leftRight 6s ease-in-out infinite alternate;
  transform-origin: top center;
  margin:0 auto;
}

/*====== small circle ======*/
div:nth-child(odd):after {
  content: " - DUMI - ";
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  width: 50px;
	height: 50px;
  left: -35px;
  bottom: -35px;
  border: solid 8px;
	border-color: red rgb(255, 102, 0) rgb(255, 196, 0) rgb(251, 255, 0);
	border-radius: 50%;
  position: absolute;
  margin:0 auto;
  animation: smallCircle 6s ease-in-out infinite alternate;
}

/*====== arch ======*/
div:nth-child(even) {
	margin:-411px auto;
	width: 780px;
	height: 800px;
	border: solid 3px;
	border-color: transparent transparent gray transparent;
	border-radius: 50%;
  animation: bigCircle 3s ease-in-out infinite alternate;
}


/*====== animations ======*/

@keyframes leftRight {
	0%
	{
        transform: rotate(-45deg);
    }
    100%
	{
        transform: rotate(45deg);
	}
}

@keyframes smallCircle {
	100% {
    	transform: rotate(0deg);
	}
	0% {
		transform: rotate(450deg);
	}
}

@keyframes bigCircle {
	100%
	{
        transform: rotate(10deg);
    }
  100%
	{
        transform: rotate(-10deg);
	}
}